@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;
    string jwtAuthToken = session.GetString("JwtAuthToken");
}

<div class="auth-header-left">
    @*Authentication Menu*@
    @{
        if (jwtAuthToken != null)
        {
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <button class="btn btn-outline-success d-flex align-items-center"
                        type="submit">
                        <i id="num-of-card-item" class="fa-solid fa-cart-shopping">0</i>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                </li>
            </ul>
        }
    }
</div>

