.banner-wrapper {
    position: relative;
}

.banner-message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .banner-message h4 {
        color: red;
    }

    .banner-message h3 {
        color: white;
    }

.cardContainer {
    text-align: center
}

    .cardContainer .card-text {
        text-align: left
    }

.card-row {
    margin-top: 30px;
}

.cardContainer {
    margin-top: 30px;
}
